.containerForContent {
  padding: 0;
  margin: 0;
}

.full-screen {
  position: relative;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.26);
  margin: 0 100px;
  flex-flow: row wrap;
}

.full-screen__body {
  position: relative;
  z-index: 2;
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.full-screen__caption {
  font-size: 100px;
  line-height: 150%;
  font-variant: small-caps;
  font-weight: bolder;
  text-align: center;
  color: rgb(255, 255, 255);
}

.full-screen__img {
  position: absolute;
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 80vh;
  object-fit: cover;
}

.main {
  position: relative;
}

.section {
  padding: 5px 10px;
  margin: 0px 100px;
  background-color: antiquewhite;
  border-radius: 0.25em;
  box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.9);
  z-index: 2;
}

#forma,
.section p {
  color: rgba(0, 0, 0, 1);
  padding: 15px 0;
  text-align: justify;
  font-size: 20px;
}

#forma {
  display: block;
  width: 100%;
}

.label {
  margin: 5px;
}

.label0 {
  margin: 5px;
  width: 100%;
}

.labelN {
  width: 180px;
  float: left;
}

#textin {
  width: 97%;
  padding: 5px;
  text-decoration: none;
  border-color: rgba(253, 165, 0, 1);
  border-radius: 25px;
}

#textin1 {
  width: 100%;
  padding: 5px 0;
  text-decoration: none;
  color: rgba(253, 165, 0, 1);
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 25px;
}

.textin {
  display: block;
  margin-left: 185px;
}

.butagree {
  margin: 5px 5px 5px 4px;
}

.hello {
  text-align: center;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 999px) {
  .full-screen {
    margin: 0;
    min-height: 60vh;
  }

  .full-screen__caption {
    font-size: 80px;
  }

  .full-screen__img {
    min-height: 60vh;
  }

  .section {
    margin: 0;
  }
}

@media screen and (max-width: 45em) {
  .textin {
    display: inline-block;
    width: 100%;
    margin-left: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0;
  }

}

@media screen and (max-width: 420px) {

  .full-screen,
  .full-screen__img {
    min-height: 40vh;
  }

  .full-screen__caption {
    font-size: 60px;
  }
}

@media screen and (max-width: 280px) {

  .full-screen,
  .full-screen__img {
    min-height: 20vh;
  }

  .full-screen__caption {
    font-size: 40px;
  }
}